.profile-head {
  position: relative;
  overflow: hidden;
}

.profile-bg {
  content: '';
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  z-index: -1;
}

.profile-deco {
  text-align: center;
}

.profile-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-position: center top;
  border: solid $assertive 3px;
}

.profile-rating {
  color: $assertive;
}

.profile-text {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
}

.profile-name {
  font-size: 20px;

  @media (min-width: 600px) {
    font-size: 38px;
  }
}

.profile-card {
  margin-bottom: 15px;
}

.profile-card-heading {
  padding: 20px;
  font-size: 22px;
  line-height: 30px;
  position: relative;
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  z-index: 10;
}

.profile-card-count {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
  font-size: 10px;
  line-height: 10px;
}

.profile-card-button {
  position: absolute;
  top: 0;
  right: 0;
}

.profile-card-icon {
  color: $assertive;
  font-size: 30px;
  vertical-align: text-top;
}

.profile-card-content {
  padding: 10px;
  background: #fff;
  width: 96%;
  margin: 0 auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  overflow: hidden;
  transform-origin: top;
  transition: all .3s;
  max-height: 1000px;

  &.ng-hide {
    max-height: 0;
    padding: 0 10px;
  }
}

.profile-item {
  margin-top: 15px;
  padding: 6px 10px;
  background: #f8f8f8;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .1);
  @include clearfix();

  &:first-of-type {
    margin-top: 0;
  }
}

.profile-label {
  font-weight: bold;
}

.profile-value {
  float: right;
}
